<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brandi Durham Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
/* Color theme:
dark teal - 204E5F
medium teal - 79A7A8
pink - FF8984
light blue - B7D7D8
light blue/white - EDF7F5
*/
.jumbotron {
    background-color: #204E5F;
    color: #fff;
    padding: 100px 25px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.container-fluid {
    padding: 60px 50px;
}
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0px;
    }

}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 15px;
    border: none;
    border-radius: 0;
    height: 250px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.navbar {
    margin-bottom: 0;
    background-color: #204E5F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a , .navbar-brand:hover{
    color: #FF8984 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #204E5F;
}
#experience ul{
  text-align: center;
  list-style-type: circle;
  list-style-position: inside;
    padding-left: 0;
  }
.navbar-brand{
  margin: 0px 25px;
}
#work .col-sm-4{
  height: 300px;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Brandi Durham</a>
      <a class="navbar-brand" href="https://github.com/durhambn"><img src="github-logo.png"></a>
      <a class="navbar-brand" href="https://www.linkedin.com/in/brandi-durham/"><img src="linkedin.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#experience">EXPERIENCE</a></li>
        <li><a href="#work">WORK</a></li>
        <li><a href="#classes">CLASSES</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <h1>Brandi Durham</h1>
  <p>SENIOR Computer Science Student at College of Charleston</p>
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Me ...</h2>
      <h4>I am a senior at the College of Charleston studying Computer Sciene. After taking a website design course at The College, I wanted to try my luck at a personal website.</h4>
      <p>When I am not hard at work studying, you can find me at the beach with a good book or catching up on my favorite TV shows.</p>
      <p>My two passions are cybersecurity and software development. I enjoy being able to combine the two while developing. Before my graduation in May of 2020, I hope to make a decision on which path I'd like to take.</p>
      <p>To view my resume, <a href="Resume2020.pdf"> click here</a>.</p>
      <p>To view my GitHub page, <a href="https://github.com/durhambn"> click here</a>.</p>
      <p>To view my LinkedIn page, <a href="https://www.linkedin.com/in/brandi-durham"> click here</a>.</p>
      <!--<button class="btn btn-default btn-lg">Get in Touch</button>-->
    </div>
    <div class="col-sm-4">
        <img src = "headshot.jpg" alt = "Brandi" width = "200">
        <!--<span class="glyphicon glyphicon-signal logo"></span>-->
    </div>
  </div>
</div>

<div id="experience" class="container-fluid text-center">
  <h2>Experience</h2>
  <h4>Past and Current Jobs</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <!--<span class="glyphicon glyphicon-off"></span>-->
      <h4>Medical University of South Carolina Information Security Office Intern</h4>
      <p>January 2018 - April 2019</p>
      <ul>
      <li>Vulnerability Management: Performed scans on the network to find end of life assets or assets vulnerable to exploits.</li>
<li>Risk and Compliance: Mitigated company risk by performing risk assessment for different applications.</li>
<li>Incident Response: Mitigated risk by sinkholing domains associated with phishing campaigns.</li>
<li>Worked to increase Mac laptop encryption compliance from 60% to 86%.</li>
<li>Created a script in Python to analyze metrics on our FireEye HX tool.</li></ul>
    </div>
    <div class="col-sm-4">
      <h4>Quality Assurance Intern at QS/1</h4>
      <p>May 2019 - July 2019</p>
      <ul>
      <li>Worked in an Agile environment with 2-week sprints on pharmacy software product.</li>
      <li>Ran automation testing on product for regression testing purposes.</li>
    </ul>
    </div>
    <div class="col-sm-4">
      <h4>Student Web Application Developer</h4>
      <p>September 2019 - May 2020</p>
      <p>Utilized Salesforce Visualforce pages and apex code to create web pages and custom email templates that helped the Office of Admissions to connect with future students.</p>
    </div>
    </div>
    <br>
    <!--
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  -->
</div>

<div id="work" class="container-fluid text-center">
  <h2>Work</h2>
  <h4>What I have created:</h4>
  <h6>To see these projects in depth, follow the link to my GitHub account!</h6>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Election Software</strong></p>
        <p>Semester long group project for CSCI 360</p>
        <p>Used Java, JavaFX, SceneBuilder, and Git to implement project. Implemented GRASP and GoF design patterns. Worked in group of 3 to plan, design, and code application.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Website Design Semester Project</strong></p>
        <p>Individual project for CSCI 115</p>
        <p>Used HTML/CSS to design and code a website that displays resources on colleges in South Carolina with computer science programs.</p>
        <p><a href=http://durhambn.stu.cofc.edu/115/project/index.html>Click here to view project site!</a></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Testing Framework</strong></p>
        <p>Semester long group project for CSCI 362</p>
        <p>Build a testing framework using python and bash to test the command line text editor, NeoVim.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Chucktown Flood Hackathon</strong></p>
        <p>Worked on a team all weekend to build a website. </p>
        <p>Website displayed different resouces for residences and buinesses in Charleston in the event of flooding. </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Malware Detection Metrics Script</strong></p>
        <p>Worked with other interns to build a Python script. </p>
        <p>This allowed us to call the FireEye HX API and gather metrics on the malware detection agent on all hosts.</p>
        <p>*Not on GitHub</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail bg-grey">
        <p><strong>Homework from CSCI 115: Website Design</strong></p>

        <p><a href= http://durhambn.stu.cofc.edu/115/artists/index.html>Artist Website</a></p>
        <p><a href=http://durhambn.stu.cofc.edu/115/chapter6/index.html>Katie's Kupcakes</a></p>
        <p><a href=http://durhambn.stu.cofc.edu/115/aesthetics/index.html>Beaches Around The World</a></p>

      </div>
    </div>
</div>

<div id="classes" class="container-fluid text-center">
  <div>
  <h2>Past Classes</h2>
  <p>Relevant past classes taken at CofC</p>
  <p>To see programs created for these classes, check out my GitHub page!</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">CSCI 220: Computer Programming I</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Class that teaches programming in Python. First programming class taken.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">CSCI 221: Computer Programming II</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches the basics of programming in Java.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">CSCI 230: Data Structures and Algorithms</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches different data strcutures and algorithms by programming in java.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">CSCI 250: Intro to Computer Organization and Assembly Language</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches on the details of how the computer works on a basic level. Introduced to Assembly Language and C.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">CSCI 340: Operating Systems I</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches how the operating system works. Develop programs in C that demonstrate different functions of the OS.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">CSCI 350: Digital Logic and Computer Organization</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches more in depth details about how the computer works and is organized.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">CSCI 362: Software Engineering</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches about different details of software engineering with a focus on testing. Built a testing framework of a free open source software (FOSS) NeoVim using python and bash. </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">CSCI 345: Computer and Network Security</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse">
        <div class="panel-body">Class that gives an introduction to different cybersecurity topics, such as encryption, network protocols and attacks</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">CSCI 390: Special Topics: Cybersecurity and Machine Learning</a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches different machine learning algorithms and how they can be used to solve cybersecurity problems.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">CSCI 115: Website Design</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches the basics of website design, HTML, and CSS.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">CSCI 360: Software Architecture and Design</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches software design principles such as GRASP, GoF.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">CSCI CSCI 215: Website Programming </a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches the basics of JavaScript and integrating it into HTML.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">CSCI 320: Programming Language Concepts</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches the basics of different programming languages using Scheme and Prolog.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">CSCI 370: Mobile App Development</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches the basics of Android app development.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">CSCI 332: Database Concepts</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse">
        <div class="panel-body">Class that teaches concepts of database design and development using MySQL.</div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Math Courses </a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse">
        <div class="panel-body">Discrete Structures I and II, Statistical Methods I, Linear Algebra</div>
      </div>
    </div>
  </div>

</div>

</div>
<!--
<br>
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div ng-controller="MainCtrl" ng-app="myApp">
      <form name="contactForm" novalidate>
      -->
        <!-- NAME -->
        <!--
        <div ng-class="{'form-error':contactForm.name.$dirty && contactForm.name.$invalid, 'form-group':true}">
          <input type="text" name="name" ng-model="formData.name" placeholder="Enter Name" ng-minlength="3" required />
          <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$invalid" >
            <div ng-message="minlength">Name too short</div>
            <div ng-message="required">Required Name</div>
          </div>
        </div>
      -->
        <!-- EMAIL -->
        <!--
        <div ng-class="{'form-error':contactForm.email.$dirty && contactForm.email.$invalid, 'form-group':true}">
          <input type="email" name="email" ng-model="formData.email" placeholder="Email Address" required />
          <div ng-messages="contactForm.email.$error" ng-show="contactForm.email.$dirty">
            <div ng-message="email">Invalid Email</div>
            <div ng-message="required">Required Email</div>
          </div>
        </div>
      -->
        <!-- TEL -->
        <!--
        <div ng-class="{'form-error':contactForm.tel.$dirty && contactForm.tel.$invalid, 'form-group':true}">
          <input type="text" name="tel" ng-pattern=/\d{3}-\d{3}-\d{4}/ ng-model="formData.tel" placeholder="XXX-XXX-XXXX" required />
          <div ng-messages="contactForm.tel.$error" ng-show="contactForm.tel.$dirty">
            <div ng-message="pattern">Valid form: XXX-XXX-XXXX</div>
            <div ng-message="required">Required Phone</div>
          </div>
        </div>
      -->
        <!-- SUBMIT BUTTON -->
        <!--
        <input type="submit" ng-click="processForm()" ng-disabled="contactForm.$invalid" value="Submit" />
      </form>
    </div>
    <br>
  -->

    <!--
  <div class="row">

      <p>Send me an email or call me, and I'll get back to you!</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Charleston, SC, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> 864.420.3378</p>
      <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:durhambn@g.cofc.edu">durhambn@g.cofc.edu</a></p>
  </div>
-->
</div>


<footer id="contact" class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a> and customized by Brandi Durham</p>
</footer>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
var app = angular.module('myApp', []);
app.controller('MainCtrl', function($scope, $http) {
  $scope.formData = {};
  $scope.processForm = function() {
    alert('valid form!')
    alert("Hey " + $scope.formData.name + " ! Thanks for submitting a form. I get back in touch with you soon!")
    $http({
      method  : 'POST',
      url     : 'form-to-email.php',
      data    : $scope.formData,
      headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
    });
  };
});
</script>
</body>
</html>
